.header {
    font-family: sans-serif;
    text-align: center;
    font-size: 50px;
    color: white;
    
}

.inside {
    font-family: sans-serif;
    font-size: 65px;
    color: #f1c50e;
    margin-bottom: 25px;
    margin-top: 25px;
}

a {
    font-family: Verdana;
    font-size: 17px;
    color: black;
    padding: 10px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

a:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #f1c50e;
    transition: width 0.5s;
}

a:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; 
    background-color: #f1c50e;
    transition: width 0.5s;
}
p {
    font-family: Courier;
    font-size: 15px;
    color: black;
    font-style: italic;
    padding: 10px;
}

body {
    background-image: url(https://mobimg.b-cdn.net/v3/fetch/e2/e28d90e081bb85bebefcb84548b5f635.jpeg);
    backdrop-filter: blur(7px);
    margin: 0;
    padding: 0;
    border: 0;
}

.item{
    width: 350px;
    height: 350px;
    margin: 10px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
}

.boxy {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    }

.main {
    display: flex;
    width: 1110px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.author {
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    padding: 50px 0px 50px 0px;
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 980px) {
    .item {
        width: 300px;
        height: 70%;
    }
    .header {
        font-size: 25px;
    }
    .inside {
        font-size: 45px;
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 0;
    }
    a {
        font-size: 15px;
    }
}